[submodule "docker/fpm-alpine/Plugins/ExtraTools"]
	path = docker/fpm-alpine/Plugins/ExtraTools
	url = https://github.com/digitalist-se/extratools.git
[submodule "docker/fpm-alpine/Plugins/QueueTracking"]
	path = docker/fpm-alpine/Plugins/QueuedTracking
	url = https://github.com/matomo-org/plugin-QueuedTracking.git
