[submodule "docker/fpm-alpine/Plugins/ExtraTools"]
	path = docker/fpm-alpine/Plugins/ExtraTools
	url = https://github.com/digitalist-se/extratools.git
[submodule "docker/fpm-alpine/Plugins/QueueTracking"]
	path = docker/fpm-alpine/Plugins/QueueTracking
	url = https://github.com/matomo-org/plugin-QueuedTracking.git
[submodule "docker/fpm-alpine/Plugins/CustomVariables"]
	path = docker/fpm-alpine/Plugins/CustomVariables
	url = https://github.com/matomo-org/plugin-CustomVariables.git
[submodule "docker/fpm-alpine/Plugins/UserConsole"]
	path = docker/fpm-alpine/Plugins/UserConsole
	url = https://github.com/digitalist-se/userconsole.git
[submodule "docker/fpm-alpine/Plugins/CustomAlerts"]
	path = docker/fpm-alpine/Plugins/CustomAlerts
	url = https://github.com/matomo-org/plugin-CustomAlerts.git
